<launch>
  <!-- Nice Reference at: http://answers.gazebosim.org/question/9403/multi-robot-controller-manager-for-different-robot_descripion/ -->

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)"/>


    <param name="robot1" textfile="$(find val_viz)/robot_urdf/valkyrie_sim_gazebo_sync_red.urdf" /> 
    <param name="robot2" textfile="$(find val_viz)/robot_urdf/valkyrie_sim_gazebo_sync.urdf" />  

    <node name="robot1_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" > 
        <remap from="robot_description" to="robot1" />
        <remap from="joint_states" to="robot1/joint_states" />
    </node>

    <node name="robot2_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
          <remap from="robot_description" to="robot2" />
          <remap from="joint_states" to="robot2/joint_states" />
    </node>                

    <node pkg="robot_state_publisher" type="state_publisher" name="robot1_robot_state_publisher">
      <remap from="robot_description" to="robot1" />
      <remap from="joint_states" to="robot1/joint_states" />    
      <param name="tf_prefix" type="string" value="robot1" />  
    </node>
     
     <node pkg="robot_state_publisher" type="state_publisher" name="robot2_robot_state_publisher">
      <remap from="robot_description" to="robot2" />
      <remap from="joint_states" to="robot2/joint_states" />    
      <param name="tf_prefix" type="string" value="robot2" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="torso_static_transform_pub" 
     args="0.0  0.0 0.0 0.0 0.0 0.0 1.0 robot1/pelvis robot2/pelvis 200" />

    <node name="rviz_ik" pkg="rviz" type="rviz" args="-d $(find val_viz)/launch/val_robot_and_ik.rviz" required="true" /> 

</launch>